.login-header {
    margin-bottom: 100px;
}

h2 {
    font-size: 62px;
    font-weight: 400;
}

.login-controller {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
}