.owner-user-home--wrapper {
    flex: 1;
}

.owner-user-home--wrapper h2 {
    margin-bottom: 32px;
    font-size: 54px;
}

.restaurant-pending-reviews--container {
    margin-bottom: 32px;
}

.restaurant-pending-reviews--container h3 {
    font-weight: 300;
    font-family: 'Roboto';
    margin-bottom: 16px;
}

.restaurant-pending-reviews--info > div {
    margin-bottom: 16px;
}

.restaurant-pending-reviews--info > div > div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.restaurant-pending-reviews--info > div > p {
    margin-bottom: 8px;
}

.restaurant-pending-reviews--info > div > div > p {
    font-weight: 500;
    margin-right: 8px;
}

.restaurant-pending-reviews--info-content {
    position: relative;
}

.button-container > button:first-child {
    margin-right: 8px;
}

.header-container {
    display: flex;
    align-items: center;
}
