.wrapper {
    height: 100vh;
    background-image: url('../../../public/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    top: 0;
    height: inherit;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, .7), white, white, white);
}

.content {
    margin-left: auto;
    width: 100%;
    max-width: 40%;
    padding: 32px;
}

h1 {
    margin: 0;
    padding: 32px 0 0 32px;
    color: white;
    font-size: 62px;
    font-weight: 400;
}