@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --primary: #EFAD58;
  --white: #fafafa; 
  --light-gray: #aaaaaa;
  --lighter-gray: #cccccc;
  --alert: #DC4625;
  --text: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', 'Fira Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3 {
    font-family: 'Mate SC';
}

h3 {
  font-size: 3.2rem;
}

input {
  font-size: 2rem;
  font-family: 'Roboto';
  border: none;
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
  margin: 0;
  font-size: 20px;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: var(--light-gray);
  color: var(--text)
}

a {
  text-decoration: none;
}

p {
  color: var(--text);
  font-size: 1.4rem;
}

ol {
  list-style: none;
  padding: 0;
}

.input-control {
  margin-bottom: 32px;
  font-family: 'Roboto';
  font-weight: 500;
}

.text-to-right {
  text-align: right;
  font-size: 1.4rem;
}

.highlight {
  color: var(--primary)
}

.unauth-form-controller {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 16px;
}
